/* h1{
    color: white;
}
body{
    background-color: black;
    background-image: url("../images/download\ \(1\).jpeg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
 */

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
}

.linear {
    height: 300px;
    background: linear-gradient(orange, white, darkgreen);
}

.radial {
    height: 700px;
    background:radial-gradient(orange, white, darkgreen)
    }

.conical {

    height: 700px;
    background:conic-gradient(from 90deg ,orange, white, darkgreen)
    }







































    .flex-items {
        color: aliceblue;
        background-color: black;
        font-size: 50px;
        height: 200px;
        width: 200px;
        margin: 20px;
        border: 4px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space space-around;
    }