
.container{position: relative;
margin-top: 100px;

}

div{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid white;
    position: absolute;
}
.blue{
    background-color:blue;
    left: 40px;
    z-index: 2;
    
}
.red{
    background-color: red;
    left: 80px;
      z-index: 6;
}
.black{
    background-color: black;
    left: 120px;
      z-index: 7;
}

.red:hover{
    background-color: red;
    left: 80px;
      z-index: 8;
}