img {
    border: 4px red
}

.p1 {
    border: 4px solid black;
    background-color: ;
    padding: 20px;
}

.p2 {
    border: 4px solid rgb(62, 30, 8);
    background-color: antiquewhite;
    padding: 40px 30px 40px 30px;
    margin: 40px 30px 40px 30px;
}

img {
    border: 4px solid black;
    background-color: ;
    padding: 40px 30px 40px 300px;
    margin: 40px 30px 40px 30px
} 